<div class="container">
				<div class="row form-wrapper">
				<div class="form-signin-wrapper">
						<div class="card card-signup">
              <div class="container">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>
								<div class="header header-primary text-center">
									<h4>Sign In</h4>
								</div>
								<div class="content">

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
                    </span>
                    <%= f.email_field :email, class: 'form-control', placeholder: "Email", autofocus: true %>

										
									</div>

									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                    <%= f.password_field :password, class: 'form-control', placeholder: "Password ", autocomplete: "off" %>
									</div>

									

								
                </div>
								<div class="footer">
                  <%= f.submit "Login", class: 'form-buttons btn btn-primary' %>

                  <% if devise_mapping.rememberable? -%>
                    <div class="checkbox form-checkbox">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="text-center">
                    <%= render "devise/shared/links" %>
                  </div>
                  
                   
								</div>
							<% end %>
              </div><!-- container -->
						</div>
					</div>
				</div>
</div>
